USE [master]
GO
/****** Object:  Database [DBDemo]    Script Date: 25.04.2021 17:13:28 ******/
CREATE DATABASE [DBDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBDemo]
GO
/****** Object:  Table [dbo].[Platezh]    Script Date: 25.04.2021 17:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platezh](
	[Nomer_zakaza] [int] NOT NULL,
	[Nomer_Prihod] [int] NOT NULL,
	[Plat_Sum] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prihod_deneg]    Script Date: 25.04.2021 17:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prihod_deneg](
	[Nomer_prihoda] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NULL,
	[Sum] [int] NOT NULL,
	[Ostatok] [int] NOT NULL,
 CONSTRAINT [PK_Prihod_deneg] PRIMARY KEY CLUSTERED 
(
	[Nomer_prihoda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz]    Script Date: 25.04.2021 17:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz](
	[Nomer] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NULL,
	[Sum] [int] NULL,
	[PaymentSum] [int] NULL,
 CONSTRAINT [PK_Zakaz] PRIMARY KEY CLUSTERED 
(
	[Nomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Platezh]  WITH CHECK ADD  CONSTRAINT [FK_Platezh_Prihod_deneg] FOREIGN KEY([Nomer_Prihod])
REFERENCES [dbo].[Prihod_deneg] ([Nomer_prihoda])
GO
ALTER TABLE [dbo].[Platezh] CHECK CONSTRAINT [FK_Platezh_Prihod_deneg]
GO
ALTER TABLE [dbo].[Platezh]  WITH CHECK ADD  CONSTRAINT [FK_Platezh_Zakaz] FOREIGN KEY([Nomer_zakaza])
REFERENCES [dbo].[Zakaz] ([Nomer])
GO
ALTER TABLE [dbo].[Platezh] CHECK CONSTRAINT [FK_Platezh_Zakaz]
GO
USE [master]
GO
